nav {
 font-weight: bold;
 font-size: 20px;
 background-color: rgb(111, 151, 220);
 height: 60px;
 color:black;
 
}
ul{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
header ul li a {
    color:black;
}
.about h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px;
}
.about span {
    background-color: antiquewhite;
}
.about img {
    display: block;
    width: 900px;
    height: 300px;
    margin: auto;
    
}
.comp h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.comp span {
    background-color: antiquewhite;
}
.shop h3 {
    text-decoration: underline;
    
    margin-left: 40px;
}
.tdescpt{
    background-color: bisque;
}

.table1, .table2, .table3, .table4 {
    border: 1px solid;
}


.tshop th{
 border: 1px solid;
}
.tshop td {
    border: 1px solid;
}

.tshop {
    border-collapse: collapse;
}
:root {
    background-color:rgb(201, 195, 207);
}
.aside {
border: black solid 1px;
background-color: antiquewhite;
border-radius: 12px;
width: 300px;
height: 165px;
position: relative;
bottom: 280px;
right: 80px;
float: right;
}
nav .navbar-brand {
    margin-right: 10%;
    font-family: cursive;
    font-size: 50px;
}
footer {
    background-color: beige;
}
form h3 {
    color:blueviolet;
}
form .fName {
    font-size: 20px;
}
